@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 62.5%;
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* nav bar section */
header, main {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}

.nav-bar .branding {
  color: rgba(58, 58, 58, 1);
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-links li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
  transition: border-bottom 0.1s linear ;
}

.nav-links li img {
  width: 24px;
}

.nav-links li a {
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
}

.nav-links li:hover {
  border-bottom: 2px solid  rgba(224, 44, 109, 1);
}

/* Hero section related styles */

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 71px;
  align-items: center;
}

.hero .hero-details {
  max-width: 585px;
}
.hero .hero-details .hero-title {
  color: rgba(58, 58, 58, 1);
  font-size: 5rem;
  font-weight: 700;
}

.hero .hero-details .hero-description {
  max-width: 505px;
  color: rgba(58, 58, 58, 1);
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 30px;
}

 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 24px ;
  border-radius: 41px;
  background: rgba(224, 44, 109, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.8rem;
  border: 2px solid rgba(224, 44, 109, 1);
}

.hero .hero-details button img {
  width: 30px;
  filter: invert(1);
}

.hero .hero-details button:hover {
  color: rgba(224, 44, 109, 1);
  background: rgba(255, 255, 255, 1);
  transition: 0.2s ease-out;
}

.hero .hero-details button:hover img {
  filter: invert(26%) sepia(61%) saturate(3487%) hue-rotate(322deg) brightness(92%) contrast(91%);
}

.hero .hero-image {
  width: 475px;
  height: 475px;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -20px;
}

.hero .hero-image img {
  position: relative;
  top: 20px;
}

/* company logo section */

.company-wrapper {
  position: relative;
  margin-top: 69px;
}

.company-wrapper::before,
.company-wrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #dcdcdc, transparent);
}

.company-wrapper::before {
  top: 0;
}

.company-wrapper::after {
  bottom: 0;
}

.company-logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 61px;
  padding: 43px 62px;
}

/* products section */

.container-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: rgba(58, 58, 58, 1);
  font-size: 3rem;
  font-weight: 600;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 76px;
}

.product-container .product-card {
  max-width: 330px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 15px;
}

.product-card img {
  width: 100%;
}

.product-card .card-title {
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 8px;
}

.product-card .price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.product-card .card-description {
  max-width: 175px;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgba(120, 120, 133, 1);
}

.product .more {
  padding-right: 76px;
  display: flex;
  justify-content: right;
  margin-top: 50px;
}

.product .more a {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.product .more a img {
  width: 24px;
  filter: invert(26%) sepia(61%) saturate(3487%) hue-rotate(322deg) brightness(92%) contrast(91%);
}

.product .more a:hover {
  border-bottom: 1px solid rgba(224, 44, 109, 0.87);
}

/* Featured products section  */

.featured {
  display: flex;
  gap: 96px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* .featured img {
  width: 404px;
  height: 207px;
} */

.featured-card {
  padding: 23px 0;
}

.featured-card .title {
  color: rgba(10, 8, 38, 1);
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.featured-card .description {
  max-width: 500px;
  color: rgba(108, 108, 108, 1);
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.featured-card .btn {
  border-radius: 8px;
}

.featured-card button img {
  width: 30px;
  filter: invert(1);
}

.featured-card button:hover {
  color: rgba(224, 44, 109, 1);
  background: rgba(255, 255, 255, 1);
  transition: 0.2s ease-out;
}

.featured-card button:hover img {
  filter: invert(26%) sepia(61%) saturate(3487%) hue-rotate(322deg) brightness(92%) contrast(91%);
}



/* Responsive media query (for  mobile devices-- below 576px ) */
@media screen and (max-width: 576px) {
  /* nav bar */
  .nav-bar {
    margin-top: 50px;
    flex-direction: column;
  }
  .nav-bar .branding{
    text-align: center;
    margin-bottom: 30px;
  }
  .nav-links{
    padding: 10px;
    justify-content: center;
    gap: 20px;
  }
  /* hero section */
  .hero {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .hero .hero-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .hero-details .hero-title {
    text-align: center;
    font-size: 3rem;
  }

  .hero .hero-details .hero-description {
    text-align: center;
    font-size: 1.6rem;
  }

  .hero .hero-image {
    width: 375px;
    height: 375px;
  }

  .hero .hero-image img {
    width: 330px;
    height: 310px;
    left: 20px;
    top: 30px;
  }

  /* company logo */

  .company-logo img {
    width: 63px;
    height: 48px;
  }

  .company-logo {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .company-logo img:last-child {
    grid-column: span 3;
    margin: 0 auto;
  }

  /* products */

  .product-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 ;
    justify-items: center;
  }

  .product .more {
    padding: 0;
    justify-content: center;
  }

  /* featured section */
  .featured {
    flex-direction: column;
    gap: 40px;
    padding: 15px;
  }

}



/* Responsive media query (for  mobile devices-- above 576px and below 972px ) */

@media screen and (min-width: 576px ) and (max-width: 972px) {
  /* nav bar */
  .nav-bar{
    justify-content: space-around;
  }

  /* hero section */

  .hero {
    flex-direction: column-reverse;
  }

  /* company logo section */
  .company-logo {
    grid-template-columns: repeat(4, 1fr);
  }

  /* products */

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #card-9 {
    grid-column: span 2;
    margin: 0 auto;
  }

}